.fsize-12{
  font-size: 12px;
}

.fweight-normal{
  font-weight: normal;
}

.width-100{
  width: 100%
}

.footer-dark{
  background: #172b4d
}

.pr-0{
  padding-right: 0;
}

.mgn-top-10{
  margin-top: 10px;
}

.mgn-top-50{
  margin-top:50px
}

.mgn-ng-top-28{
  margin-top: -28px
}

.mgn-ng-top-60{
  margin-top: -60px
}

.mgn-btm-10{
  margin-bottom: 10px;
}

.mgn-left-8{margin-left: 8px}

.mgn-left-30{
  margin-left: 30px
}

.mgn-left-50p{margin-left:50%}

.mgn-right-5{
  margin-right: 5px
}

.mgn-btm-50{
  margin-bottom: 50px;
}

.mh-330{
  min-height: 330px;
}

.of-hidden{
  overflow: hidden;
}

.color-red{
  color: red;
}

.color-yellow{
  color: #F2C94C
}

.color-purple{
  color: #9B51E0
}

.color-orange{
  color: #F2994A
}

.color-green{
  color: #6FCF97
}

.carousel-container {
  width: 100%;
 }

.max-width-250{
  max-width: 250px;
  width: 250px;
}

.max-height-127{
  max-height: 127px
}

.react-bootstrap-table table {
  table-layout: auto;
}

.builder__sidebar{
  background: #192A3E!important;
}

/* .g-sidenav-pinned .sidenav.builder__sidebar{
  max-width: 264px!important
} */

.creator__block{
  background: #101E2F!important;
  border: none!important;
  color: #304257;
  font-size: 28px;
}

.overlay {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 95%;
    width: 81%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: #000;
}

[data-notify="container"] {
  max-width: 30%;
  width: 400px!important;
  text-align: center;
}

.modal-image-thumb{
  max-height: 200px!important;
}

.leaflet-container{
  height: 600px;
  width: 100%;
}

.route-builder-box{
  background: white;
  border-radius: 10px;
  min-height: 100px;
  padding: 30px;
  text-align: center;
  border: 2px dashed #f2f2f2
}

.sidenav-normal{
  padding-left: 20px!important;
}

.route-box{
  background: #fb6340;
}

.route-box h2{
  color: white
}

.bg-green{
  background: #2dce89!important
}

.option-heading{
  font-weight: bold;
}



/* .builder__dropzone{
  height: 100px;
  width: 100%;
  background: white;
  border: 2px dashed #D5D5D5;
} */


